language: php

before_script:
  - composer install --dev --prefer-source

script: vendor/bin/phpunit --bootstrap tests/bootstrap.php tests

before_script:
 - composer install --dev --prefer-source

script:
 - mkdir -p build/logs
 - vendor/bin/phpunit --bootstrap tests/bootstrap.php --coverage-clover build/logs/clover.xml tests

after_script:
 - php vendor/bin/coveralls -v

php:
  - 5.5
  - 5.6
