<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>VkMusic | Музыка из vk.com без регистрации и SMS</title>
    <meta name="description" content="Музыка из vk.com без регистрации и SMS"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link href="//{{ app.request.host }}/dist/css/all.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="//{{ app.request.host }}/favicon.ico">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="demo-headline">
            <h1 class="demo-logo">
                <span class="logo"></span> VkMusic
                <small>Музыка из vk.com без авторизации, плагинов и программ</small>
            </h1>
        </div>
    </div>

    <div class="row demo-row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label" for="link">Поддерживаются ссылки на пост, страницу группы и пользователя</label>
                <input type="text" value="" placeholder="Например, https://vk.com/deep_01" class="form-control" id="link" autofocus/>
                <div class="help-block" id="result-error"></div>
            </div>
            <div class="form-group">
                <div id="audio"></div>
            </div>
        </div>
    </div>
</div>

<a href="https://github.com/teslitsky/vkmusic"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>

<script src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.1.4/zepto.min.js"></script>
<script>window.Zepto || document.write('<script src="//{{ app.request.host }}/dist/js/zepto.min.js">\x3C/script>')</script>
<script type="text/template" id="audioList">
    <% _.each(items, function (audio, key, list) { %>
    <div>
        <small><%= audio.fullTitle %></small>
        <div class="right">
            <small><%= audio.formattedDuration %></small>
            <button class="btn btn-primary btn-xs" data-attachment="<%= $.param({attachment: audio}) %>">Скачать</button>
        </div>
    </div>
    <% }); %>
</script>
<script src="//{{ app.request.host }}/dist/js/main.min.js"></script>
</body>
</html>
